# Visual Studio / Rider
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/

# Build & publish
bin/
obj/
out/
publish/

# EF Core Migrations (nên giữ Migrations)
# Migrations/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# User-specific files
*.swp
*.swo
*.tmp
*.temp
*.bak

# Secret files
# appsettings.json BẮT BUỘC PHẢI TRACK
appsettings.*.json
secrets.json
sql_data/