/dotnetWeb.sln
# Visual Studio / Rider
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.idea/

# Build & publish
bin/
obj/
out/
publish/

# EF Core Migrations (tuỳ bạn có muốn version control hay không)
# Migrations/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Rider
.idea/
*.iml

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# User-specific files
*.swp
*.swo
*.tmp
*.temp
*.bak

# Secret files
appsetting.json
appsettings.*.json
secrets.json
sql_data/