version: '3.9'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver2022
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "server@Dev1"
    ports:
      - "1433:1433"
    volumes:
      - ./sql_data:/var/opt/mssql
    restart: unless-stopped
